@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom styles inspired by St. Gallen */
:root {
    --primary-color: #008334;
    --secondary-color: #046529;
    --background-color: #f5f5f5;
    --text-color: #333333;
    --white: #ffffff;
}

body {
    background-color: var(--secondary-color);
    color: var(--text-color);
}

.header {
    background-color: var(--primary-color);
    color: white;
    padding: 1rem;
}

button {
    background-color: var(--primary-color);
    color: var(--white);
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 0 !important;
}


button:hover {
    background-color: var(--secondary-color);
    color: var(--white);
}


footer {
    background-color: var(--secondary-color);
    color: var(--white);
    text-align: center;
    padding: 10px 0;
}


footer a {
    color: var(--primary-color);
    text-decoration: none;
}


footer a:hover {
    text-decoration: underline;
}

.markdown-container h1 {
    font-size: 24px;
}

.markdown-container h2 {
    font-size: 20px;
    font-weight: bold;
}

.markdown-container h3 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 8px;
}

.markdown-container h4 {
    font-size: 18px;
    font-weight: bold;
}

.markdown-container ol {
    list-style: decimal !important;
    position: relative;
    left: 16px;
}

.markdown-container strong {
    margin: 16px 0;
    font-size: 24px;
    display: block;
}