@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom styles inspired by St. Gallen */
:root {
    --primary-color: #008334;
    --secondary-color: #046529;
    --background-color: #f5f5f5;
    --text-color: #333333;
    --white: #ffffff;
}

body {
    background-color: var(--secondary-color);
    color: var(--text-color);
}

.header {
    background-color: var(--primary-color);
    color: white;
    padding: 1rem;
}

button {
    background-color: var(--primary-color);
    color: var(--white);
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 0 !important;
}


button:hover {
    background-color: var(--secondary-color);
    color: var(--white);
}


footer {
    background-color: var(--secondary-color);
    color: var(--white);
    text-align: center;
    padding: 10px 0;
}


footer a {
    color: var(--primary-color);
    text-decoration: none;
}


footer a:hover {
    text-decoration: underline;
}
